.layout-sidebar {
    position: fixed;
    width: var(--sidebar-size);
    height: 100%;
    padding: 0.5rem;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.5rem;
}

main {
    width: 100vw;
    height: 100vh;
}

main > :not(router-outlet) {
    display: block;
    height: 100%;
    width: 100%;
}
