/* You can add global styles to this file, and also import other style files */

/* PrimeNG */
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';
/* @import 'mapbox-gl/dist/mapbox-gl.css'; */

html {
    font-family: var(--font-family);
    font-size: 14px;
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* FONTS */

@font-face {
    font-family: 'Franklin Gothic Demi';
    src:
        local('Franklin Gothic Demi'),
        url('/assets/font/static/LibreFranklin-Regular.ttf') format('truetype');
}

/* Fancy variable font; not currently needed
@font-face {
    font-family: 'Franklin Gothic Demi';
    font-variation-settings: 'wght' 400;
    src:
        local('Franklin Gothic Demi'),
        url('/assets/font/LibreFranklin-VariableFont_wght.ttf') format('truetype');
}
*/

/* END FONTS */

/* CUSTOMIZE PRIMENG */

.p-contextmenu {
    width: 15em;
}

/* END CUSTOMIZE PRIMENG */

/* FORMS */

form > .field:not(:last-child) {
    margin-bottom: 1em;
}

form > .field > .p-element:not(:first-child) {
    margin-left: 0.5em;
}

form > .field.fullwidth > input,
form > .field.fullwidth > .p-inputwrapper > .p-dropdown {
    width: 100%;
}

form > .field.buttons {
    display: block;
    text-align: end;
    margin-top: 1.8em;
}

form > .field > label {
    display: block;
    margin-bottom: 0.5em;
}

form > .field > input {
    display: block;
}

/* END FORMS */

:root {
    --safe-area: 0.5rem;
    --safe-area-top: 4.64rem;
    --safe-area-left: var(--safe-area);
    --safe-area-right: var(--safe-area);
    --safe-area-bottom: var(--safe-area);
    --sidebar-size: 8rem;
}
